<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4 class="abn_color">Customers Info</h4>
            <hr>
            <ul class="nav nav-pills nav-stacked">
                <li ng-click="viewAll()" ng-class="{'active':viewAllFlag}">
                    <a href="">View All</a>
                </li>
                <li ng-click="add()" ng-class="{'active':addFlag}">
                    <a href="">Add</a>
                </li>
                <li ng-click="update()" ng-class="{'active':updateFlag}">
                    <a href="">Update</a>
                </li>
                <li ng-click="delete()" ng-class="{'active':deleteFlag}">
                    <a href="">Delete</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-10">
            <div ng-if="viewAllFlag">
                <h2 class="abn_color">All Users</h2>
                <hr>
                <div class="modal-content ">
                    <div class="col-sm-4 col-md-3">
                        <div class="inner-addon left-addon" style="margin-top: 10px; margin-bottom: 10px">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" ng-model="search" class="form-control" />
                        </div>
                    </div>
                    <div class="" style="margin: 3px;">
                        <div class="">
                            <div class="">
                                <table class="table table-fixed">
                                    <thead>
                                        <tr class="row " style="margin-left: 0px; margin-right: 0px">
                                            <th class="col-sm-2" ng-click="sort('customerId')">Cust Id
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='customerId'" ng-class="{'glyphicon-chevron-down':sortOrder,'glyphicon-chevron-up':!sortOrder}"></span>
                                            </th>
                                            <th class="col-sm-2" ng-click="sort('name')">Name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-down':sortOrder,'glyphicon-chevron-up':!sortOrder}"></span>
                                            </th>
                                            <th class="col-sm-2" ng-click="sort('phoneNumber')">Phone No
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='phoneNumber'" ng-class="{'glyphicon-chevron-down':sortOrder,'glyphicon-chevron-up':!sortOrder}"></span>
                                            </th>
                                            <th class="col-sm-3" ng-click="sort('emailId')">Email Id
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='emailId'" ng-class="{'glyphicon-chevron-down':sortOrder,'glyphicon-chevron-up':!sortOrder}"></span>
                                            </th>
                                            <th class="col-sm-3" ng-click="sort('address')">Address
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-down':sortOrder,'glyphicon-chevron-up':!sortOrder}"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row" style="width: 100%; margin-left: 0px; margin-right: 0px" ng-repeat="customer in allCustomers| orderBy:sortKey:sortOrder | filter:search">
                                            <td class="col-sm-2 info_color">{{customer.customerId}}</td>
                                            <td class="col-sm-2">{{customer.name}}</td>
                                            <td class="col-sm-2 ">{{customer.phoneNumber}}</td>
                                            <td class="col-sm-3 ">{{customer.emailId}}</td>
                                            <td class="col-sm-3 ">{{customer.address}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="addFlag">
                <h2 class="abn_color">Add Customer</h2>
                <hr>
                <div style="margin: 10px;">
                    <div class="row">
                        <div class="col-sm-7">
                            <ul class="list-group list_table">
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Name</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="text" min="" ng-model="addCustomerInput.name" class="form-control" placeholder="Enter Name">
                                    </div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Phone Number</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="text" min="" ng-model="addCustomerInput.phoneNumber" class="form-control" placeholder="Enter Phone Number">
                                    </div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Email Id</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="email" ng-model="addCustomerInput.emailId" class="form-control" placeholder="Enter Email Id">
                                    </div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Address</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="text" min="" ng-model="addCustomerInput.address" class="form-control" placeholder="Enter Address">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" ng-if="responseObj.optionalValue != null">
                        <div class="success_color">
                            Customer Assigned with Id:
                            <strong>{{responseObj.optionalValue}}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3"></div>
                        <button type="button" ng-click="addCustomer()" class="btn btn-info">Add Customer</button>
                    </div>
                </div>

            </div>

            <div ng-if="deleteFlag">
                <h2 class="abn_color">Delete Customer</h2>
                <hr>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="inner-addon left-addon" style="margin-top: 10px; margin-bottom: 10px">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="number" ng-model="deleteCustomerInput.customerId" class="form-control" placeholder="Search by Customer Number.."
                            />
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2" style="margin-top: 10px">
                        <button type="button" ng-click="searchDeleteCustomer()" class="btn btn-info">Search</button>
                    </div>
                </div>
                <div style="margin: 10px;" ng-if="searchDeleteCustomerResult != null">
                    <div class="row">
                        <div class="col-sm-7">
                            <h4 class="abn_color">Customer Preview</h4>
                            <ul class="list-group list_table">
                                <li class="list-group-item row">
                                    <div class="col-sm-3 ">Customer Id</div>
                                    <div class="col-sm-9 bold info_color">{{searchDeleteCustomerResult.customerId}}</div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-3">Name</div>
                                    <div class="col-sm-9 bold danger_color">{{searchDeleteCustomerResult.name}}</div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-3">Phone Number</div>
                                    <div class="col-sm-9 bold">{{searchDeleteCustomerResult.phoneNumber}}</div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-3">Email Id</div>
                                    <div class="col-sm-9 bold">{{searchDeleteCustomerResult.emailId}}</div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-3">Address</div>
                                    <div class="col-sm-9 bold">{{searchDeleteCustomerResult.address}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 col-md-3"></div>
                        <button type="button" ng-click="customerDelete()" class="btn btn-danger">Delete Customer</button>
                    </div>
                </div>
            </div>

            <div ng-if="updateFlag">
                <h2 class="abn_color">Update Customer</h2>
                <hr>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="inner-addon left-addon" style="margin-top: 10px; margin-bottom: 10px">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="number" ng-model="updateCustomerInput.customerId" class="form-control" placeholder="Search by customer Id" />
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2" style="margin-top: 10px">
                        <button type="button" ng-click="searchCustomer()" class="btn btn-info">Search</button>
                    </div>
                </div>
                <div style="margin: 10px;" ng-if="updateCustomerSearchResult!=null">
                    <div class="row">
                        <div class="col-sm-7">
                            <h4 class="abn_color">Customer Existing Information</h4>
                            <ul class="list-group list_table">
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Name</div>
                                    <div class="col-sm-8 col-md-6 bold info_color">
                                        {{updateCustomerSearchResult.customerId}}
                                    </div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Name</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="text" min="" ng-model="updateCustomerInput.name" class="form-control" placeholder="{{updateCustomerSearchResult.name}}">
                                    </div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Phone Number</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="text" min="" ng-model="updateCustomerInput.phoneNumber" class="form-control" placeholder="{{updateCustomerSearchResult.phoneNumber}}">
                                    </div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Email Id</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="email" ng-model="updateCustomerInput.emailId" class="form-control" placeholder="{{updateCustomerSearchResult.emailId}}">
                                    </div>
                                </li>
                                <li class="list-group-item row">
                                    <div class="col-sm-4 col-md-4">Address</div>
                                    <div class="col-sm-8 col-md-6 bold">
                                        <input type="text" min="" ng-model="updateCustomerInput.address" class="form-control" placeholder="{{updateCustomerSearchResult.address}}">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3"></div>
                        <button type="button" ng-click="updateCustomer()" class="btn btn-info">Update Customer</button>
                    </div>
                </div>
            </div>
            <div ng-if="responseObj != null" style="padding-top: 15px;" class="col-sm-7">
                <div ng-if="responseObj.success == true" class="alert alert-success">
                    {{responseObj.response}}
                </div>
                <div ng-if="responseObj.success == false" class="alert alert-danger">
                    {{responseObj.response}}
                </div>
            </div>
        </div>


    </div>
</div>
</div>
</div>